@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  /* Colors */
  --lighter-gray: #f5f5f5;
  --light-gray: #cccccc;
  --medium-gray: #979797;
  --dark-gray: #525252;
  --darker-gray: #353535;

  /* Border radius */
  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 16px;
}

* {
  box-sizing: border-box;
  font-family: Quantico;
}

/* General styles */
body {
  margin: 0;
  min-height: 100vh; /* Ensures the body takes up the full height of the viewport */
  background-color: var(--lighter-gray);
  color: var(--darker-grey);
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: max-content 1fr auto; /* Ensure the main content takes available space, and footer is at the bottom */
  grid-template-areas:
    '. header .'
    '. main .'
    'footer footer footer'; /* Footer row */
}

footer {
  grid-area: footer;
  background-color: #ddd;
  padding: 1rem;
  text-align: center;
  margin: 0;
}

footer * {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  justify-self: start;
  padding: 1rem;
  grid-area: header;
  display: flex;
  width: 100%;
  justify-content: center;
}

header h1 {
  padding: 0px;
  margin: 0px;
  grid-area: header;
  font-size: 3rem;
}

/* Main grid */
main {
  grid-area: main;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(4, max-content);
  grid-template-areas:
    'p1-header . p2-header'
    'p1-gameboard main-btns p2-gameboard'
    'p1-gameboard main-btns p2-gameboard'
    'p1-btns . p2-btns';
}

.p1-header-container {
  grid-area: p1-header;
}

.p2-header-container {
  grid-area: p2-header;
}

.p1-header-container,
.p2-header-container {
  display: flex;
  justify-content: space-between;
  padding: 0rem 0.5rem;
}

.p1-header-container h3,
.p2-header-container h3 {
  margin: 0px;
  color: var(--dark-gray);
}

.p1-gameboard-container {
  grid-area: p1-gameboard;
}

.p2-gameboard-container {
  grid-area: p2-gameboard;
}

.main-btns-container {
  grid-area: main-btns;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.p1-btns-container {
  grid-area: p1-btns;
}

.p2-btns-container {
  grid-area: p2-btns;
}

/* Gameboard forms */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8); /* transparent backdrop */
}

.form-container form {
  width: 260px;
  min-width: max-content;
  min-height: max-content;
  padding: 0.2rem 1rem;
  background-color: white;
  border: 2px solid var(--medium-gray);
  border-radius: var(--border-radius-small);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-rows: 24px repeat(2, minmax(28px, max-content)) 24px;
  user-select: none;
}

.form-container form label {
  grid-row: 1;
  gap: 0.3rem;
  align-self: self-end;
  color: var(--dark-gray);
  display: flex;
  justify-self: end;
  margin-right: 0.6rem;
}

.form-container form input {
  border: 1px solid var(--medium-gray);
  border-radius: var(--border-radius-medium);
  padding: 0.4rem;
  font-size: large;
  grid-row: 2;
  margin: 0.2rem 0rem;
}

.form-container form input:disabled {
  background-color: var(--lighter-gray);
}

.form-container form input:disabled::placeholder {
  color: var(--light-gray);
}

.form-container form button {
  grid-row: 3;
  border: none;
  border-radius: var(--border-radius-medium);
  padding: 0.5rem 1rem;
  background-color: var(--medium-gray);
  color: var(--dark-gray);
  cursor: pointer;
  font-size: large;
  min-height: max-content;
  margin: 0.2rem 0rem;
  font-weight: bold;
}

.form-container form button:hover {
  filter: brightness(1.2);
}

#p1-name-input:invalid,
#p2-name-input:invalid {
  border-color: red;
  outline-color: red;
}

/* Gameboard */
.p1-gameboard-container,
.p2-gameboard-container {
  margin: 0.2rem;
  border-width: 5px;
  border-style: solid;
  border-color: var(--light-gray);
  user-select: none;
}

.gameboard {
  border: none !important;
}

.gameboard > .border-cell {
  border-color: black !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(233, 233, 233);
  font-weight: bold;
}

.gameboard > .cell {
  border-color: var(--medium-gray) !important;
  background-color: white;
}

.gameboard .cell.hover-enabled:hover {
  filter: brightness(0.8);
}

.gameboard > .cell.hit {
  background-color: transparent !important;
  position: relative;
}

.gameboard > .cell.hit::after {
  content: 'X';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Autour One', sans-serif;
  font-size: 26px;
  color: black;
  z-index: 3;
}

/* Ship cells */
.ship > .cell:not(.hide),
.cell.ship:not(.hide) {
  border-color: var(--medium-gray) !important;
  background-color: var(--dark-gray) !important;
}

/* Hit ships */
.ship > .cell.hit,
.cell.ship.hit {
  background-color: var(--dark-gray) !important;
}

/* Sunk ships */
.ship.sunk > .cell,
.cell.ship.sunk,
.cell.ship.sunk::after {
  color: white;
  background-color: var(--darker-gray) !important;
}

.ship.hover-enabled:hover > .cell:not(.hide) {
  filter: brightness(1.4);
}

/* Buttons */
.main-btn {
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
  padding: 0.6rem 1.2rem;
}

.main-btn,
.player-btn {
  background-color: var(--lighter-gray);
  filter: brightness(0.9);
  border: 2px solid var(--light-gray);
  border-radius: var(--border-radius-medium);
  margin: 0.2rem;
}

.main-btn:not(:disabled):hover,
.player-btn:not(:disabled):hover {
  background-color: var(--light-gray);
  cursor: pointer;
}

.player-btn svg {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--darker-gray);
  width: 40px;
  height: 40px;
}

.main-btn:disabled,
.player-btn:disabled {
  background-color: #dcdcdc;
  color: var(--medium-gray);
  border: 2px solid #b5b5b5;
  opacity: 0.6;
}

.player-btn:disabled svg {
  fill: var(--medium-gray);
}

/* Endgame dialog boxes */
.dialog-content {
  padding: 20px !important;
  margin: 20px !important;
  background-color: white !important;
  border: 2px solid var(--medium-gray) !important;
  border-radius: var(--border-radius-medium);
  font-weight: bold;
  font-size: 1.6rem;
  color: var(--darker-gray);
  border: 2px solid var(--medium-gray) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 150px;
  text-align: center;
}
